/* -------------- Header ------------------- */
#header{
	padding: 10px 0;
	background: #fff;
}

/* -------------- Menu ------------------- */
#menu{
	background: #222;
	margin-bottom: 20px;
}
#menu .navbar{
	margin-bottom: 0;
	border-right: none;
	border-left: none;
	
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
#menu .dropdown-menu{
	background: #000;
}
#menu .dropdown-menu a{
	color: #888;
	padding: 10px;
}
#menu .dropdown-menu a:hover{
	background: #222;
	color: #fff;
}
#menu .search{
	margin: 10px -20px 10px 0;
}
/* -------------- Sidebar ------------------- */

.nav-tabs{
	background: #ddd;
	padding-top: 5px;
	padding-left: 5px;
}
.tab-content{
	border: 1px solid #ccc;
	border-top: none;
	margin-bottom: 20px;
}
.tab-content ul{
	padding: 0;
}
.tab-content li{
	list-style: none;
	border-bottom: 1px solid #eee;
	padding: 10px;
	overflow: hidden;
}
.tab-content img{
	width: 80px;
	height: 60px;
	float: left;
	margin-right: 10px;
}
.bg {
     width: 100%;
     height: 100%;
     position: fixed;
     z-index: 1;
     float: left;
     left: 0;
}
.content {
     width: 80%;
     height: auto;
     margin: 0 auto;
     position: relative;
     z-index: 5;
     background: #fff;
     padding: 30px;
     text-align: left;
}
/* -------------- Footer ------------------- */
.footer{
	position: relative;
	line-height: 50px;
	background: #333;
	height: 50px;
	color: #fff;	
}